<template>
  <div class="user-item">
    <div class="user-picture">
      <img :src="user.picture.medium" alt="Profile picture" />
    </div>
    <UserDataItem 
    class="profile-name" 
    title="Name: " 
    :value="user.name.first + ' ' + user.name.last">
    </UserDataItem>
    <UserDataItem 
    class="profile-email" 
    title="E-mail: " 
    :value="user.email">
    </UserDataItem>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import UserDataItem from './UserDataItem.vue';

export default defineComponent({
  name: 'UserItem',
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  components: {
    UserDataItem
  }
});
</script>

<style scoped>
@import url('../assets/style/common.css');
@import url('../assets/style/user-item.css');
</style>
