<template>
  <div class="user-profile">
    <div class="profile-picture">
      <img :src="user.picture.large" alt="Profile picture" />
    </div>
    <UserDataItem 
    class="profile-name" 
    title="Name: " 
    :value="user.name.first + ' ' + user.name.last">
    </UserDataItem>
    <UserDataItem 
    class="profile-email" 
    title="E-mail: " 
    :value="user.email">
    </UserDataItem>
    <UserDataItem 
    class="profile-phone-number" 
    title="Phone number: " 
    :value="user.phone">
    </UserDataItem>
    <UserDataItem 
    class="profile-birthday" 
    title="Date of birth: " 
    :value="user.dob.date.replace('T', ' T') + ' - ' + user.dob.age + 'y.o.'">
    </UserDataItem>
    <UserDataItem 
    class="profile-joined-at" 
    title="Joined at: " 
    :value="user.registered.date.replace('T', ' T')">
    </UserDataItem>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import UserDataItem from './UserDataItem.vue';

export default defineComponent({
  name: 'UserItem',
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  components: {
    UserDataItem
  }
});
</script>

<style scoped>
@import url('../assets/style/common.css');
</style>
