<template>
  <div class="profile-name">
      <strong>{{ title }}</strong>
      {{ value }}
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'UserItem',
  props: {
    title: {
      type: String,
      required: true
    },
    value: {
      type: String,
      required: true
    }
  },
});
</script>

<style scoped>
@import url('../assets/style/common.css');
</style>
