<template>
    <div id="users-list">
        <ul>
            <li v-for="user in users" :key="user.id.value">
                <UserItem :user="user" @click="showUserData(user)"></UserItem>
            </li>
        </ul>
    </div>
    <div>
        <button id="loadUsers" @click="loadUsers()">Load more...</button>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import axios from 'axios'
import UserItem from './UserItem.vue'

export default defineComponent({
  name: 'UsersList',
  data() {
    return {
        users: []
    }
  },
  components: {
    UserItem
  },
  props: {
    showUser: {
        type: Function,
        required: true
    }
  },
  methods: {
    showUserData(user: Record<string, any>) {
        this.showUser(user);
    },
    loadUsers() {
        console.log("Load users");
        axios.get('https://randomuser.me/api/?results=5&seed=kaliop')
        .then(response => {
            this.users.push(...response.data.results);
            console.log(this.users);
        })
    }
  },
  created() {
    this.loadUsers();
  }
});
</script>

<style scoped>
@import url('../assets/style/common.css');
@import url('../assets/style/users-list.css');
</style>
