<template>
  <div v-if="isUserShown">
    <button id="returnButton" @click="showUsersList()">
      <img src="./assets/ReturnButtonIcon.png" />
    </button>
    <UserProfile :user="user"></UserProfile>
  </div>
  <UsersList v-else :showUser="showUserData"></UsersList>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import UsersList from './components/UsersList.vue';
import UserProfile from './components/UserProfile.vue';

export default defineComponent({
  name: 'App',
  data() {
    return {
      isUserShown: false,
      user: {}
    }
  },
  components: {
    UsersList,
    UserProfile
  },
  methods: {
    showUserData(user: Record<string, any>) {
      this.isUserShown = true;
      this.user = Object.assign(user);
      console.log(user.name);
    },
    showUsersList() {
      console.log("Return button");
      this.user = Object.assign({});
      this.isUserShown = false;
    }
  }
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#returnButton {
  position: absolute;
  left: 10px;
  top: 10px;
  margin: 0;
  padding: 0;
  line-height: 1;
  background: none;
  border: none;
}
</style>
